<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @art.content %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @art.preview %>
</p>

<p>
  <strong>Preview tumb:</strong>
  <%= @art.preview_thumb %>
</p>

<p>
  <strong>Source:</strong>
  <%= @art.source %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
